@use '../../../styles/variables' as *;

.header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &__icon {
        color: $icon-color;
    }
}