<div class="resource-page">
  <header class="resource-page__header">
    <div>
      <h1 class="resource-page__title">{{ title }}</h1>
      <p class="resource-page__subtitle">{{ subtitle }}</p>
    </div>
    <button (click)="buttonClick.emit()" class="resource-page__button">{{ buttonText }}</button>
  </header>

  <div class="resource-page__search-bar">
    <i-lucide name="search" class="resource-page__search-icon"></i-lucide>
    <input type="text" 
          class="resource-page__search-input"
          [placeholder]="searchPlaceholder" 
          (input)="onSearchInput($event)">
  </div>

  <div class="resource-page__table-wrapper">
    <table class="resource-page__table">
      <thead>
        <tr>
          <th *ngFor="let col of columns">{{ col.label }}</th>
          <th *ngIf="actions.length > 0">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td *ngFor="let col of columns">
            <ng-container [ngSwitch]="col.type">
              <span *ngSwitchCase="'currency'">{{ getProperty(item, col.key) | currency:'BRL' }}</span>
              <span *ngSwitchCase="'date'">{{ getProperty(item, col.key) | date:'dd/MM/yyyy' }}</span>
              <span *ngSwitchCase="'status'" class="status-pill" [ngClass]="getStatusClass(getProperty(item, col.key))">{{ getProperty(item, col.key) }}</span>
              <span *ngSwitchDefault>{{ getProperty(item, col.key) }}</span>
            </ng-container>
          </td>
          <td *ngIf="actions.length > 0" class="actions-cell">
            <button *ngFor="let action of actions" [title]="action.label" (click)="actionClick.emit({ actionId: action.id, item: item })">
                <i-lucide [name]="action.icon" [ngClass]="action.colorClass"></i-lucide>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>